.idea
.history
.DS_Store
.vscode
.vercel
node_modules
build

.env*
.publish.res.json
test_token.move

# typemove files
sdk/abis
sdk/src/types
sdk/dist
template_bytecode.json

**/traces/*
lcov.info

.env*
!.env.example

.coverage_map.mvcov
.trace

gas_cost_estimation.csv
.npmrc

**/.changeset/*.md

Pub.*.toml

pas

# codegen intermediate artifacts
**/package_summaries
