.idea
.history
.DS_Store
.vscode
.vercel
node_modules
build
*.lock

.env*
.publish.res.json
test_token.move

# typemove files
sdk/abis
sdk/src/types
sdk/dist
template_bytecode.json

**/traces/*
lcov.info

.env*
!.env.example
!.env.devnet
!.env.testnet
!.env.mainnet

.coverage_map.mvcov
.trace

gas_cost_estimation.csv
.npmrc

**/.changeset/*.md

temp_tokens/
Pub.*.toml