FULLNODE_URL=http://127.0.0.1:9000
ADMIN_PRIVATE_KEY=suiprivkey1...
DENY_LIST_ID=0x403
PACKAGE_ID=
TEST_ASSET_TREASURY_CAP=
TEST_SECONDARY_ASSET_TREASURY_CAP=
VLBTC_VAULT_ID=
ACCOUNTANT_ID=
AUTH_ID=
NETWORK=
PRICE_FEEDS_MAP_ID=
GUARD_MANAGER_ID=